# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# Build output
dist/

# Dependency directories
bower_components/

# Coverage
coverage/

# IDE/Editor files
.idea/
.vscode/
